{% extends 'base.html' %}

{% block content %}

<!-- The title displayed on the tab -->
<title>About Our Company</title>

<!-- Main title heading -->
<h1>About Us</h1>

<body>

    <h2>Mission</h2>

    <p>
        We strive for excellence everyday. In the products we provide and
        in how we serve you. 
    </p>

    <p> 
        Our products come from locally sourced farms
        where our strong ties with farmers keep fresh produce on our
        shelves and avaiable to you. There are other retailers who take
        the easy route and buy from cheap sources, but we strive for your
        trust and wouldn't serve anything we wouldn't want ourselves. This
        keeps our products in a high quality state that even high end producers
        have a hard time matching.
    </p>

    <p>
        Going grocery shopping is stressful enough, so we want to provide
        the best service possible. This starts with our beleif to treat 
        you as we would treat a loved one. By taking care of our customers
        we also take care of ourselves and shows our loyalty towards you.
        That is how we have been awarded best in class service for the last
        3 years. Serving you is our pride and we strive to be the best.
    </p>

    <p>
        We know that coming to our store is one of many options and so 
        we thank you and hope you will continue to trust us.
    </p>

</body>

<body>

    <h2>History</h2>
    <p>
        We started off as a neighborhood gorcery store where the locals
        knew our employees by name and where the product comes from.
        Since then only the number of people we serve has changed. We
        still have strong ties to the community and our produce sources.
    </p>
    <p>
        Our staff puts in the extra effort to serve our members and always
        do their best to keep track of who is coming and going. Thats the 
        effort we would put in with our loved ones and so its no different
        towards our customers. If you wish to know where your food is sourced
        from you can use an easy tutorial by us and track down the exact farmer
        that your food has come from.
    </p>    

</body>

{% endblock %}