<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <nav>
    <ul>
      <!-- The "<a href="/desiredPath/ToFollow>TEXT</a>", specifies the 
      complete path that you want to follow once the "TEXT" is clicked -->
        <a href="/products">Home</a>
        <a href="/products/about/">About</a>
        <a href="/products/contact/">Contact</a>
        <a href="/products/cart/">Cart</a>
    </ul>
  </nav>
  <div class="container">
    {% block content %}
    {%  endblock %}
  </div>
  </body>
</html>